COMPOSE_PROJECT_NAME=<NAME OF YOUR PROJECT>

MY_IMAGE_USER=<DOCKER USERNAME>
MY_IMAGE_NAME=<IMAGE NAME>
MY_IMAGE_VERSION=<PROJECT VERSION>

APP_WORKDIR=<LOCATION OF YOU PROJECT> EX: /src/app

NATOURS_EXPOSE_PORT_DEV=<PROJECT EXPOSE PORT DEV>
NATOURS_LISTEN_PORT=<PROJECT PORT>

MONGO_INITDB_NAME=<DATABASE NAME>
MONGO_INITDB_URI=<MONGO URI> EX: mongodb://mongo:27017/
MONGO_INITDB_ROOT_USERNAME=<MONGODB USERNAME>
MONGO_INITDB_ROOT_PASSWORD=<MONGODB PASSWORD>

NODE_ENV=<ENV FOR PROJECT>

REDIS_HOST=<REDIS HOST NAME>
REDIS_PORT=<REDIS PORT NUMBER>

JWT_SECRET=<JWT SECRET>
JWT_EXPIRES_IN=<JWT EXPIRES>
JWT_COOKIE_EXPIRES_IN=<JWT COOKIES EXPIRES>

EMAIL_USERNAME=<EMAIL USERNAME>
EMAIL_PASSWORD=<EMAIL PASSWORD>
EMAIL_HOST=<EMAIL HOST>
EMAIL_PORT=<EMAILS PORT>

MAPBOX_NATOURS=<TOKEN KEY FOR MAPBOX>